@import url(https://fonts.google.com/specimen/Outfit);

* {
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color:  hsl(212, 45%, 89%);
}

h1 {
    font-weight: 400;
    margin: 20px;
    font-size: 24px;
}

p {
    color: hsl(220, 15%, 55%);
}

img {
    max-width: 100%;
    border-radius: 5%;

}

.main {
    width: 300px;
    margin: 100px auto;
    border-radius: 5%;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
}

.article {
    width: 100%;
    font-family: "Outfit", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 30px 0;
}
